<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jraf.android.networkmonitor"
    android:versionCode="1101"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".provider.NetMonProvider"
            android:authorities="org.jraf.android.networkmonitor.provider"
            android:exported="false" />

        <service android:name="org.jraf.android.networkmonitor.app.service.NetMonService" />

        <activity
            android:name="org.jraf.android.networkmonitor.app.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.jraf.android.networkmonitor.app.log.LogActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/log_title"
            android:parentActivityName="org.jraf.android.networkmonitor.app.main.MainActivity" >
            <intent-filter>
                <action android:name="org.jraf.android.networkmonitor.app.log.LogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jraf.android.networkmonitor.app.main.MainActivity" />
        </activity>
        <activity
            android:name="org.jraf.android.networkmonitor.app.about.AboutActivity"
            android:exported="false"
            android:label="@string/about_title"
            android:parentActivityName="org.jraf.android.networkmonitor.app.main.MainActivity" >
            <intent-filter>
                <action android:name="org.jraf.android.networkmonitor.app.about.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jraf.android.networkmonitor.app.main.MainActivity" />
        </activity>
        <activity
            android:name="org.jraf.android.networkmonitor.app.log.LogActionsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/NetMonNoDisplayTheme" >
            <intent-filter>
                <action android:name="org.jraf.android.networkmonitor.app.log_share" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.jraf.android.networkmonitor.app.log_clear" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
