<?xml version="1.0" encoding="utf-8"?>
<!--
This source is part of the
     _____  ___   ____
 __ / / _ \/ _ | / __/___  _______ _
/ // / , _/ __ |/ _/_/ _ \/ __/ _ `/
\___/_/|_/_/ |_/_/ (_)___/_/  \_, /
                             /___/
repository.

Copyright (C) 2013 Benoit 'BoD' Lubek (BoD@JRAF.org)
Copyright (C) 2013-2015 Carmen Alvarez (c@rmen.ca)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.rmen.android.networkmonitor"
    android:versionCode="12001"
    android:versionName="1.20.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-feature android:required="false" android:name="android.hardware.location"/>
    <uses-feature android:required="false" android:name="android.hardware.location.gps"/>
    <uses-feature android:required="false" android:name="android.hardware.location.network"/>
    <uses-feature android:required="false" android:name="android.hardware.touchscreen"/>
    <uses-feature android:required="false" android:name="android.hardware.wifi"/>

    <application
        android:name="ca.rmen.android.networkmonitor.app.NetMonApplication"
        android:allowBackup="true"
        android:installLocation="preferExternal"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".provider.NetMonProvider"
            android:authorities="ca.rmen.android.networkmonitor.provider"
            android:exported="false" />

        <service android:name="ca.rmen.android.networkmonitor.app.service.NetMonService" />
        <service android:name="ca.rmen.android.networkmonitor.app.savetostorage.SaveToStorageService" />

        <activity
            android:name="ca.rmen.android.networkmonitor.app.main.MainActivity"
            android:label="@string/app_name"
            tools:ignore="ExportedPreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.log.LogActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/log_title"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.main.MainActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.log.LogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.main.MainActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.about.AboutActivity"
            android:exported="false"
            android:label="@string/about_title"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.main.MainActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.about.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.main.MainActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/pref_title_advanced"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.main.MainActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.main.MainActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.email.EmailPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/pref_title_email"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.email.EmailPreferencesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.speedtest.SpeedTestPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/pref_title_speed_test"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.speedtest.SpeedTestPreferencesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.speedtest.SpeedTestAboutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/pref_title_speed_test_about"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.speedtest.SpeedTestPreferencesActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.speedtest.SpeedTestAboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.speedtest.SpeedTestPreferencesActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.prefs.SelectFieldsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/pref_title_select_fields"
            android:parentActivityName="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs.SelectFieldsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.networkmonitor.app.prefs.AdvancedPreferencesActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.prefs.FilterColumnActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/filter_columns_title">
        </activity>
        <activity
            android:name="ca.rmen.android.networkmonitor.app.prefs.PreferenceFragmentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/NetMonNoDisplayTheme" >
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_share" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_clear" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_import" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_clear_old" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_compress" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_check_location_settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_show_info_dialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.rmen.android.networkmonitor.app.prefs_show_warning_dialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Save to storage -->
        <activity
            android:name="ca.rmen.android.networkmonitor.app.savetostorage.SaveToStorageActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/ic_device_sd_storage"
            android:label="@string/export_save_to_external_storage"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </activity>

        <receiver android:name="ca.rmen.android.networkmonitor.app.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
